<div class="trends">
      <div class="thead">
        <img src="https://www.google.co.in/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="" width="100px">
        <span>Trends</span>
      </div>
      <ol id="trends-list">
        <li id="trend">
          <a href="https://www.google.co.in/search?q=<%= trends[0].link %>">
          <div class="trend-content">
            <h5><%= trends[0].title %></h5>
            <span><%= trends[0].date %></span>
          </div></a>
        </li>
        <li id="trend">
          <a href="https://www.google.co.in/search?q=<%= trends[1].link %>">
          <div class="trend-content">
            <h5><%= trends[1].title %></h5>
            <span><%= trends[1].date %></span>
          </div></a>
        </li>
        <li id="trend">
          <a href="https://www.google.co.in/search?q=<%= trends[2].link %>">
          <div class="trend-content">
            <h5><%= trends[2].title %></h5>
            <span><%= trends[2].date %></span>
          </div></a>
        </li>
        <li id="trend">
          <a href="https://www.google.co.in/search?q=<%= trends[3].link %>">
          <div class="trend-content">
            <h5><%= trends[3].title %></h5>
            <span><%= trends[3].date %></span>
          </div></a>
        </li>
      </ol>
    </div>